* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
/*  width: 100%;
  height: 100%;*/
  background-color: #101010 !important;
  overflow-x: hidden !important; 
}

p::-moz-selection { color: #fff}
p::selection { color: #fff; }

::-moz-selection { background: #E3672A; }
::selection { background: #E3672A; }



h1,h2,h3,h4,h5,h6, header a {
	font-family: adobe-garamond-pro, serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 2px;
}

p,span {
	font-family: 'Open Sans', sans-serif;
}

.nav-link {
  font-size: 1.25rem;
}

.nav-link:hover {
  color: #E3672A !important;
}

#headerbgv {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#headerbgv video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#headerbgv .container {
  position: relative;
  z-index: 2;
}

#headerbgv .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#title, #slogan, #enter {
	display: none;
}

#intro, #genre {
  font-size: 29px;
}

#headerbgv img:hover {
	opacity: 0.7;
}

@media (pointer: coarse) and (hover: none) {
  #headerbgv {
    background: url('../images/image.jpeg') black no-repeat center center scroll;
  }
  #headerbgv video {
    display: none;
  }
  #headerbgv img {
  	display: none;
  }
  #title, #slogan, #enter {
  	display: block;
  }


}

.card-img-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

.card-body a {
  text-decoration-color: white;
}

#homebg {
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), 
  url('../images/Untended_Graves_-_02.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

#homebg2 {
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(25, 25, 25, 0.5)), 
  url('../images/darksouls-landscape.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

#homebg3 {
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(25, 25, 25, 0.5)), 
  url('../images/dark-souls-anorlondo.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

#homebg4 {
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(25, 25, 25, 0.5)), 
  url('../images/darksouls-room.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

#subsbg {
  height: 60vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(25, 25, 25, 0.8)), 
  url('../images/darksouls-room2.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

#brandlogo {
  width: 325px;
  height: 125px;
}

#bonfire, #lord-of-cinder, #solaire, #artorias, #skull, #sif, #estus, #guts{
  width: 160px;
  height: 160px;
}

#ornstein {
  height: 200px;
}

#artorias, #ornstein, #skull {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


footer {
  background-color: #080808;
  position: absolute;
}

.fa-xbox, .fa-playstation, .fa-steam, .fa-microsoft {
  font-size: 4rem;
  color: #A8A8A8;
}

.fa-xbox:hover, .fa-playstation:hover, .fa-steam:hover, .fa-microsoft:hover {
  color: rgba(255, 255, 255, 0.8)
}

#particles-js {
  width: 100%;
  margin-bottom: -50vh;
}

.card {
  border-style: none !important;
  border-radius: 0 !important;
  border: 0 !important;
  background-color: #101010 !important; 
}

.btn, .form-control {
  border-radius: 0 !important;

}


.form-control {
  background-color: transparent !important;
  border: 1px solid white;
  color: white;
}

.form-control:active,
.form-control:focus,
.form-control:focus:active {
  background-color: transparent !important;
  border: 2px solid white;
  color: white;
}




.bg-primary {
  background-color: #101010 !important;
}

.bg-secondary {
  background-color: #202020 !important;
}

.display-6 {
  font-size: 2.5rem;
}

.display-7 {
  font-size: 2.0rem;
}

.display-8 {
  font-size: 1.75rem;
}


.modal-body {
  padding: 0 !important;
}

.ekko-lightbox-nav-overlay > a:hover {
  color: white;
}

.modal-header {
  background-color: rgba(0,0,0,0.6)
  border: 0 !important;
  border-style: none;
}

.modal-content {
  border: 0 !important;
}

.modal-content {
  border-radius: 0 !important;
  background-color: rgba(0,0,0,0.6)
}

.modal-title {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.close {
  color: white;
}

.close:hover {
  color: white !important;
}

/*.card-img-top {
  width: 50%;
  height: 50%;
}
*/
.card-footer {
  border: 0;
}


/*media queries*/

@media screen and (max-width: 1024px) {
    body {
    overflow-x: hidden !important;
    }
    .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
    }
    .card-text {
      font-size: 1.15rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #homebg, #homebg2, #homebg3, #homebg4 {
    height: 80vh;
  }

  #particles-js {
    margin-top: 15vh !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #homebg, #homebg2, #homebg3, #homebg4 {
    height: 85vh;
  }

  #particles-js {
    margin-top: 15vh !important;
  }
  #subsbg {
    height: 45vh;
  }
}

@media screen and (max-width: 320px) {
  #homebg, #homebg2, #homebg3, #homebg4 {
    height: 100vh;
  }
}
